$dark-blue: #083451;
$white: #FFFFFF;
$light-blue: #106DB3;
$light-gray: #A3B3BF;
$dark-gray: #5e686f;
$primary-heading: 'Oswald', Verdana, sans-serif;
$secondary-heading: 'Open Sans', Verdana, sans-serif;

@mixin border-radius ($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
}

@mixin box-shadow ($shadow) {
  box-shadow: $shadow;
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
}


* {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a:link {
  color: $light-gray;
}

a:visted {
  color: $dark-blue;
}

p {
  text-align: left;
  text-decoration: none;
  color: $light-gray;
  font-family: $secondary-heading;
  font-size: 0.95em;
  line-height: 25px;
  margin-top: 25px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
  margin-right: 10px;
  color: $light-gray;
  font-family: $secondary-heading;
  font-size: 0.85em;
  line-height: 1.5625em;
}

h1 {
  color: $dark-blue;
  text-transform: uppercase;
  font-family: $primary-heading;
  font-size: 4em;
}

h2 {
  text-transform: uppercase;
  font-family: $secondary-heading;
  color: $light-blue;
  font-size: 2.2em;
}

h3 {
  color: $dark-blue;
  text-transform: uppercase;
  font-family: $primary-heading;
  font-size: 1.2em;
}

h4 {
  text-transform: uppercase;
  font-family: $secondary-heading;
  color: $light-blue;
  font-size: 1.2em;
}

h5 {
  color: $dark-blue;
  text-transform: uppercase;
  font-family: $primary-heading;
  font-size: 0.85em;
}

h6 {
  text-transform: uppercase;
  font-family: $secondary-heading;
  color: $light-blue;
  font-size: 0.75em;

}
.wrapper {
  width: 100%;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  overflow:hidden;
}

header {
  background: url(../images/waves-bg.png) no-repeat;
  background-size: 100%;
  height: 512px;
  padding: 0;
}

.logo {
  float: left;
  margin-top: 20px;
  margin-left: 40px;
  height: 55px;
}

.logo-image::before {
  content: url(../icons/logo.png);
  margin-top: 0;
  float: left;
}

.company-name {
  display: inline-block;
  margin-top: 20px;

  h4 {
  color: $dark-blue;
  }
}

.nav-menu {
  float: right;
  margin-top: 30px;
  margin-right: 60px;
  height: 55px;
}

.nav-menu-text {
  margin-top: 4px;
}

.search-icon::after {
  content: url(../icons/search.png);
  margin-top: 0;
  display: inline-block;
}

.above-fold-container {
  clear: both;
  display: block;
  height: 80%;
  padding: 0;
  margin: 0;
}

.above-fold {
  text-align: center;
  position:relative;
  top: 40%;
  transform: translateY(-40%);

  h1 {
    margin: 0;
    padding: 0;
    font-family: $secondary-heading;
    text-transform: uppercase;
    color: $white;
    font-size: 6em;
    }

  p {
    color: $dark-blue;
    text-align: center;
    }
}

.bg-image {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5000;
}

.tint {
  display: inline-block;
  background: $light-blue;
}

.tint img {
   opacity: 0.5;
   transition: opacity 0.4s ease-in-out;
}

.content-wrapper {
  width: 90%;
  margin: 0;
}

.below-fold {
  width: 100%;
  clear: both;
  display: block;
  margin-top: 30px;
  padding: 0;
  text-align: center;
}

.content {
  float: left;
  width: 58%;
  padding: 0;
  margin-top: 0;
  margin-left: 5%;
  text-align: left;

  h1 {
   margin-top: 0;
   margin-bottom: 10px;
   line-height: 115%;
  }
}

.post-breadcrumbs {
  margin: 0 auto;
  height: 25px; }

.author-photo::before {
  content: url(../images/post-author.jpg);
  margin-top: 0;
}

.post-author {
  display: inline-block;
  margin-top: 5px;
  color: $light-blue;
}

.extra-space {
  width: 5px;
  margin-top: 5px;
}

.date-before {
  margin-top: 5px;

 &::before {
  content: 'on';
  margin-top: 5px;
  text-decoration: none;
 }
}

.date {
  display: inline-block;
  margin-top: 5px;
  text-decoration: underline;
}

.bq-contain {
  border-left: 1px solid $light-gray;
  margin: 0 auto;
  align: left;
}

blockquote {
  margin-top: 30px;
  margin-left: 30px;
}

.end-post-buttons {
  margin-top: 20px;

  li {
   display: inline-block;
   height: 20px;
   margin: 0;
   color: $white;
  }
}

.comment-icon::before {
  content: url(../icons/comments.png);
  background-color: $dark-gray;
  margin-top: 2px;
  padding: 5px;
}

.read-comments {
  margin: 0 auto;
  padding: 5px;
  background-color: $light-gray;

  &:hover {
    background-color: $light-blue;
  }
}

.later-icon::before {
  content: url(../icons/later.png);
  background-color: $dark-gray;
  margin-top: 0;
  margin-left: 30px;
  padding: 5px;
}

.read-later {
  @extend .read-comments;
}

.share-icon::before {
  content: url(../icons/share.png);
  background-color: $dark-gray;
  margin-top: 0;
  margin-left: 30px;
  padding: 5px;
}

.share-this {
  @extend .read-comments;
}

.sidebar {
  width: 20%;
  padding: 0;
  margin-top: 0;
  margin-left: 5%;
  display: inline-block;
  text-align: center;

  h4 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0;
  }
}

.my-headshot {
  width: 87px;
  height: 87px;
  @include border-radius(150px);
  background: url('../images/michellemarin.jpg') no-repeat;
  @include box-shadow(0 0 8px rgba(0, 0, 0, 0.8));
  display: block;
  margin: 0 auto;
}

.social-links-contain {
  display: block;
  width: 200px;
  margin: 0 auto;
  text-align: center;

  li {
   color: $light-gray;
  }
}

.tint {
  display: inline-block;
  background-image: linear-gradient to bottom, $light-blue, $dark-blue;
  margin-top: 55px;
}

.tint img {
  opacity: 0.5;
  transition: opacity 0.4s ease-in-out;
}

.tint img:hover {
  opacity: 0.8;
}

.post-link p {
  text-align: right;
  text-decoration: underline;
  margin-top: 5px;
}

.sidebar-article {
  text-align: left;

  h3 {
   text-align: left;
   margin-top: 40px;
   margin-bottom: 0;
   color: $light-blue;
  }

  p {
   max-width: 240px;
   margin: 0;
  }
}

.pop-posts {
  clear: both;
  display: block;

  h1 {
   text-align: center;
  }
}

.h1-space {
  margin-top: 30px;
  padding: 20px;
}

.line-space {
  border-top: 1px solid $light-gray;
  margin-top: 30px;
  padding: 10px;
}

.tint-bottom {
  float: left;
  background-image: linear-gradient to bottom, $light-blue, $dark-blue;
  width: 25%;
  margin: 0 auto;
}

.tint-bottom img {
  opacity: 0.5;
  transition: opacity 0.4s ease-in-out;
}

.tint-bottom img:hover {
  opacity: 0.8;
}

footer {
  clear: both;
  display: block;
  width: 100%;
  height: 78px;
  background-color: $dark-blue;
  color: $white;
  margin: 0 auto;
}

.copyright {
  display: inline-block;
  margin-top: 5px;
  margin-left: 20px;
  height: 63px;
}

.iy-logo::before {
  content: url(../icons/theironyard.png);
  height: 63px;
  margin-top: 0;
}

.iy-copyright {
  margin-top: 20px;
}

.footer-links {
  display: inline-block;
  margin-top: 0;
  margin-left: 30%;
}

@media screen and (max-width: 1143px) {
  h1 {
    font-size: 3em;
  }

  .above-fold {
    text-align: center;
    position:relative;
    top: 40%;
    transform: translateY(-40%);

    h1 {
      font-size: 5.5em;
      }

    p {
      line-height: 1em;
      margin-top: 1em;
    }
  }

  header {
    background: url(../images/waves-bg.png) no-repeat;
    background-size: 100%;
    height: 50%;
    padding: 0;
  }

  .above-fold-container {
    clear: both;
    display: block;
    height: 300px;
    padding: 0;
    margin: 0 auto;
  }

  .below-fold {
    width: 100%;
    clear: both;
    display: block;
    margin-top: 30px;
    padding: 0;
    text-align: center;
  }
}


@media screen and (max-width: 920px) {
  h1 {
    font-size: 3em;
  }

  .above-fold {
    text-align: center;
    position:relative;
    top: 40%;
    transform: translateY(-40%);

    h1 {
      font-size: 5em;
      }

    p {
      line-height: 1em;
      margin-top: 1em;
    }
  }

  header {
    background: url(../images/waves-bg.png) no-repeat;
    background-size: 100%;
    height: 50%;
    padding: 0;
  }

  .above-fold-container {
    clear: both;
    display: block;
    height: 250px;
    padding: 0;
    margin: 0;
  }

  .below-fold {
    width: 100%;
    clear: both;
    display: block;
    margin-top: 25px;
    padding: 0;
    text-align: center;
  }

  .tint-bottom {
    display: block;
    width: 50%;
  }
}


@media screen and (max-width: 850px) {
   h1 {
     font-size: 2.2em;
   }

  .above-fold {
    text-align: center;
    position:relative;
    top: 20%;
    transform: translateY(-20%);

    h1 {
      font-size: 4em;
      }

    p {
      line-height: 1em;
      margin-top: 1em;
    }
  }

  header {
    background: url(../images/waves-bg.png) no-repeat;
    background-size: 100%;
    height: 50%;
    padding: 0;
  }

  .above-fold-container {
    clear: both;
    display: block;
    height: 220px;
    padding: 0;
    margin: 0;
  }

  .below-fold {
    width: 100%;
    clear: both;
    display: block;
    margin-top: 20px;
    padding: 0;
    text-align: center;
  }

  .content {
    clear: both;
    display: block;
    margin-left: 8%;
    margin-top: 20px;
    margin-bottom: 30px;
    width: 90%;
  }

  .sidebar {
    clear: both;
    display: block;
    margin-left: 8%;
    width: 300px;
  }

  .tint-bottom {
    display: block;
    width: 50%;
  }
}

@media screen and (max-width: 740px) {
  h1 {
    font-size: 1.8em;
  }

  .above-fold {
    text-align: center;
    position:relative;
    top: 30%;
    transform: translateY(-30%);

    h1 {
      font-size: 3em;
      }

    p {
      line-height: 1em;
      margin-top: 1em;
    }
  }
    header {
      background: url(../images/waves-bg.png) no-repeat;
      background-size: 100%;
      height: 40%;
      padding: 0;
    }

    .above-fold-container {
      clear: both;
      display: block;
      height: 200px;
      padding: 0;
      margin: 0;
    }

    .below-fold {
      width: 100%;
      clear: both;
      display: block;
      margin-top: 10px;
      padding: 0;
      text-align: center;
    }

  .content {
      clear: both;
      display: block;
      margin-left: 8%;
      margin-top: 10px;
      margin-bottom: 30px;
      width: 90%;
    }

    .sidebar {
      clear: both;
      display: block;
      margin-left: 8%;
      width: 300px;
    }

    .tint-bottom {
      display: block;
      width: 50%;
    }
}

@media screen and (max-width: 580px) {
  h1 {
    font-size: 1.4em;
  }

  .above-fold {
    text-align: center;
    position:relative;
    top: 25%;
    transform: translateY(-25%);

    h1 {
      font-size: 2.5em;
      }

    p {
      line-height: 1em;
      margin-top: 1em;
    }
  }

  header {
    background: url(../images/waves-bg.png) no-repeat;
    background-size: 100%;
    height: 40%;
    padding: 0;
  }

  .above-fold-container {
    clear: both;
    display: block;
    height: 150px;
    padding: 0;
    margin: 0;
  }

  .below-fold {
    width: 100%;
    clear: both;
    display: block;
    margin-top: 10px;
    padding: 0;
    text-align: center;
  }

  .content {
      clear: both;
      display: block;
      margin-left: 8%;
      margin-top: 10px;
      margin-bottom: 30px;
      width: 90%;
    }

    .sidebar {
      clear: both;
      display: block;
      margin-left: 8%;
      width: 300px;
    }

  .tint-bottom {
    display: block;
    width: 50%;
  }
}

@media screen and (max-width: 510px) {
  h1 {
    font-size: 1.2em;
  }

  .logo {
    display: block;
    width: 95%;
    margin-top: 10px;
    margin-left: 20%;
    height: 55px;
  }

  .nav-menu {
    clear: both;
    display: block;
    margin-top: 10px;
    margin-right: 25%;
    height: 55px;
  }

  .above-fold {
    text-align: center;
    position:relative;
    top: 10%;
    transform: translateY(-10%);

    h1 {
      margin: 0;
      padding: 0;
      font-size: 2.2em;
      }

    p {
      line-height: 0.8em;
      margin-top: 0.8em;
    }
  }

  header {
    background: url(../images/waves-bg.png) no-repeat;
    background-size: 155%;
    height: 50%;
    padding: 0;
  }

  .above-fold-container {
    clear: both;
    display: block;
    height: 130px;
    padding: 0;
    margin: 0;
  }

  .below-fold {
    width: 100%;
    clear: both;
    display: block;
    margin-top: 10px;
    padding: 0;
    text-align: center;
  }

  .content {
      clear: both;
      display: block;
      margin-left: 8%;
      margin-top: 10px;
      margin-bottom: 30px;
      width: 95%;
    }

    .sidebar {
      clear: both;
      display: block;
      margin-left: 8%;
      width: 300px;
    }

  .tint-bottom {
    display: block;
    width: 90%;
    margin-left: 8%;
  }
}
