* {
  list-style-type:none;
  margin: 0px;
  padding: 0px;
}

a:link { color: #3abcb4; }
a:visted { color: #3abcb4; }

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

li {
    float: left;
    margin-right: 10px;
}
.wrapper {
  width: 100%
  height: auto;
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  overflow:hidden;
}

header {
  background: url(images/waves-bg.png) no-repeat;
  background-size: 100%;
  height: auto;
  padding: 0px;
  text-align: justify;
}

.logo {
  float: left;
  margin-top: 20px;
  margin-left: 40px;
  height: 55px;
}

.logo-image::before {
  content: url(icons/logo.png);
  margin-top: 0px;
  float: left;
}

.company-name {
  float: left;
  display: inline-block;
  margin-top: 20px;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  color: #083451;
}

.nav-menu {
  float: right;
  margin-top: 20px;
  margin-right: 60px;
  height: 55px;
  text-align: justify;
  display: inline-block;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  color: #083451;

}

.nav-menu-text {
  margin-top: 2px;
}

.search-icon::after {
  content: url(icons/search.png);
  margin-top: 0px;
  display: inline-block;
}

.above-fold-container {
  clear: both;
  display: block;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

.above-fold {
  text-align: center;
  position:relative;
  top: 50%;
  transform: translateY(-50%);
}

.bg-image {
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 5000;
}

.above-fold h1 {
  margin: 0px;
  padding: 0px;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  color: #FFFFFF;
  font-size: 600%;
}

.above-fold p {
  font-family: 'Open Sans', sans-serif;
  color: #083451;
}

.tint {
  display:inline-block;
  background: #166FB8;
}

.tint img {
  opacity: 0.5;
  transition: opacity 0.4s ease-in-out;
}

.content-wrapper {
  width: 90%;
  margin: 0 auto;
}


.below-fold {
  width: 100%;
  clear: both;
  display: block;
  margin: 0;
  padding: 0;
  text-align: center;
}

.content {
  float:left;
  width: 58%;
  padding: 0px;
  margin-top: 0px;
  margin-left: 5%;
  text-align:left;
  display: inline-block;
}

.content h1 {
  color: #083451;
  font-size: 250%;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  margin-top: 0 auto;
}


.post-breadcrumbs {
  margin: 0 auto;
  height: 25px;
}

.author-photo::before {
  content: url(images/post-author.jpg);
  margin-top: 0px;
}

.post-author {
  float: left;
  display: inline-block;
  margin-top: 5px;
  color: #106DB3;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}

.extra-space {
  width: 5px;
  margin-top: 5px;
}

.date-before {
  margin-top: 5px;
}

.date-before::before {
  content: 'on';
  margin-top: 5px;
  color: #A3B3BF;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  text-decoration: none;
}

.date {
  float: left;
  display: inline-block;
  margin-top: 5px;
  color: #A3B3BF;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  text-decoration: underline;
}

.blog-post p {
  text-align: left;
  text-decoration: none;
  color: #A3B3BF;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 25px;
  margin-top: 10px;
}

.sidebar {
  width: 23%;
  padding: 0px;
  margin-top: 0px;
  margin-left: 5%;
  display: inline-block;
  float:left;
  text-align: center;
}

.my-headshot {
  width: 87px;
  height: 87px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  background: url('images/michellemarin.jpg') no-repeat;
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.sidebar h3 {
  color: #106DB3;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  margin-top: 10px;
  margin-bottom: 0px;
}

.social-links-contain {
  display: block;
  width: 200px;
  margin: 0 auto;
  text-align: center;
}

.social-links-contain li {
  color: #A3B3BF;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}

.tint {
  display: inline-block;
  background: linear-gradient (to bottom, #106DB3, #166FB8);
  margin-top: 55px;
}

.tint img {
  opacity: 0.5;
  transition: opacity 0.4s ease-in-out;
}

.tint img:hover {
  opacity: 0.8;
}

.post-link p {
  text-align: right;
  text-decoration: underline;
  color: #A3B3BF;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  margin-top: 5px;
}

.sidebar-article {
  text-align: left;
}

.sidebar-article h3 {
  color: #106DB3;
  text-align: left;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  margin-top: 40px;
  margin-bottom: 0px;
}

.sidebar-article p {
  text-align: left;
  text-decoration: none;
  color: #A3B3BF;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 25px;
  max-width: 240px;
  margin: 0px;
}

.images-bottom {
  clear: both;
  display: block;
  width: 100%;
}

.most-pop-posts {
  clear: both;
  display: block;
  text-align: center;
}

footer {
  clear: both;
  display: block;
  width: 100%;
  height: 78px;
  background-color: #083451;
  padding: 10px;
  color: #fff;
  margin-top: 40px;
}

.copyright {
  float: left;
  display: inline-block;
  margin-left: 20px;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  top: 50%;
  position:relative;
  transform: translateY(-8%);
}

.footer-links {
  float: right;
  margin-right: 60px;
  text-align: justify;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  top: 50%;
  position:relative;
  transform: translateY(-8%);
}
